body {
	font-family:"Trebuchet MS";
	font-size:10px;
	margin:0px;
}
#header {
	height:40px;
	width:100%;
	position:fixed;
	background-color:#fff;
	border-bottom:1px solid #666;
}
#mainBody {
}
#UI {
	background-color:#fff;
	padding-top:41px;
}


#header a:link,
#header a:active,
#header a:visited   {
	text-decoration:none;
	color:#333;
	cursor:hand;
	font-size:12px;
}
#header a:hover {
	text-decoration:underline;
	color:#333;
}
#headerImage {
	padding-top:8px;
	padding-left:5px;
}
#app_loading_text {
	margin-left:10px;
}
#topLinksRight {
	float:right;
	text-align:right;
	margin-right:10px;
	padding-top:5px;
}



.dataForm {
	margin:3px;
}
.dataForm td {
	font-size:12px;
	font-family:"Trebuchet MS";
}
.formField {
	font-size:12px;
	font-family:"Trebuchet MS";
	border:1px solid #ccc;
	width:200px;
	padding:2px;
}

.entryCapsule {
	padding:4px;
	border-bottom:1px solid silver;
	background-color:#fff;
	cursor:hand;
}
.entryCapsule:hover {
	background-color:#ebebeb;
}
.entryCapsuleMessage {
	font-weight:bold;
	font-size:12px;
}
.entryCapsuleBugCount {
	text-align:center;
	width:30px;
	font-size:14px;
	font-weight:bold;
	float:right;
}
.entryCapsuleDate {
	font-size:12px;
	color:#999;	
}
.entryCapsuleHost {
	font-size:12px;
}
.entryError {
	padding:5px;
	color:#cc0000;
}
.entryDetailTable {
	font-family:"Trebuchet MS";
	width:100%;
}
.entryDetailTable td {
	font-size:11px;
	border-bottom:1px solid silver;
}
.entryDetailTable th {
	font-size:12px;
	text-align:left;
	color:#999;
	border-bottom:1px solid silver;
	width:110px;
}
.entryDetailTitle {
	font-weight:bold;
	font-size:16px !important;	
	border:0px;
	padding-bottom:10px;
	padding-top:5px;
}
.entryListingHeader {
	margin:4px;
	border-bottom:1px solid silver;
	background-color:#fff;
	padding-bottom:10px;
	padding-top:5px;
}

.copyright {
	margin:0 auto;
	text-align:center;
	font-size:10px;
	margin-top:50px;
	width:150px;
	line-height:15px;
}
.goBack {
	line-height:18px;
	font-size:16px;
	font-weight:bold;
	padding:3px;
	background-color:#FFFFE0;
	font-family: Arial, Helvetica, sans-serif;
	cursor:pointer;
	border-bottom:1px solid silver;
	padding-top:10px;
	height:30px;
}
.goBack a,
.goBack a:link,
.goBack a:visited,
.goBack a:active {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#666;
}