<!DOCTYPE html> 
<html>
	<head>
		<title>BugLogMini: Settings</title>
	</head>
	<body>
		<div id="contentArea">
			<form name="frmConfig" method="post" action="#">
				<br />
				<table>
					<tr>
						<td>Number of days:</td>
						<td>
							<select name="numDays" id="numDays" class="formField">
								<option value="1">1</option>
								<option value="3">3</option>
								<option value="4">7</option>
								<option value="14">14</option>
								<option value="30">30</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Application:</td>
						<td>
							<select name="applicationID" id="applicationID" class="formField" disabled="true">
								<option value="0">All</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Host:</td>
						<td>
							<select name="hostID" id="hostID" class="formField" disabled="true">
								<option value="0">All</option>
							</select>
						</td>
					</tr>
					<tr valign="top">
						<td>Severities:</td>
						<td><div id="severitiesContainer"></div></td>
					</tr>
				</table>
				<br />
				<br />
				<p align="center">
					<input type="button" name="btnSave" value="Apply Changes" id="btnSave" />
				</p>
			</form>
		</div>
	</body>
</html>
		
