<!DOCTYPE html> 
<html>
	<head>
		<title>BugLogMini: Main</title>
		<link href="../style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				parent.doPopulateApplications();
				parent.doPopulateHosts();
				parent.doPopulateSeverities();
				$("#numDays").value = parent.serverInfo.numDays;
			});
			function doPopulateApplications(items) {
				for(var i=0;i < items.length;i++) {
					$("#applicationID").
				          append($("<option></option>").
		                  attr("value",items[i].appID).
		                  attr("selected",(parent.serverInfo.applicationID==items[i].appID)).
		                  text(items[i].appCode)); 
				}
				$("#applicationID").attr("disabled",false);
			}
			function doPopulateHosts(items) {
				for(var i=0;i < items.length;i++) {
					$("#hostID").
			          append($("<option></option>").
	                  attr("value",items[i].hostID).
	                  attr("selected",(parent.serverInfo.hostID==items[i].hostID)).
	                  text(items[i].hostName)); 
				}
				$("#hostID").attr("disabled",false);
			}
			function doPopulateSeverities(items) {
				var severities = new Array();
				severities = parent.serverInfo.severities.split(",");
				
				var tmpHTML = "";
				for(var i=0;i < items.length;i++) {
					tmpHTML += "<input type='checkbox' name='severityID' value='"+items[i].severityID +"'";
					if(severities.indexOf(items[i].severityID)!=-1) tmpHTML += " checked";
					tmpHTML += "><img src='/bugLog/hq/images/severity/" + items[i].code.trim().toLowerCase()  + ".png' align='absmiddle'> ";
					tmpHTML += items[i].name + "<br/>";
				}
				$("#severitiesContainer").html(tmpHTML);
			}
			function doSaveSettings(frm) {
				var severities = new Array();
				for(var i=0;i<frm.severityID.length;i++) {
					if(frm.severityID[i].checked) {
						severities[severities.length] = frm.severityID[i].value;
					}
				}
				parent.doSaveSettings(frm.numDays.value, frm.applicationID.value, frm.hostID.value, severities.toString());
			}
			function displayError(e) {
				var div = $("#contentArea");
				div.innerHTML = "<div class='entryError'>An error ocurred while retrieving the bugLog data from the server:<br><br>" + e + "</div>";
			}
			function displayLoading() {
				var tmpHTML = "<div style='text-align:center;margin-top:100px;'>";
					tmpHTML += "<img src='../images/ajax-loader.gif'><br />";
					tmpHTML += "Loading Data...";
					tmpHTML += "</div>";
				$("#contentArea").html(tmpHTML);
			}
		</script>
	</head>
	<body>
		<div id="contentArea">
			<form name="frmConfig" method="post" action="#">
				<br />
				<table>
					<tr>
						<td>Number of days:</td>
						<td>
							<select name="numDays" id="numDays" class="formField">
								<option value="1">1</option>
								<option value="3">3</option>
								<option value="4">7</option>
								<option value="14">14</option>
								<option value="30">30</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Application:</td>
						<td>
							<select name="applicationID" id="applicationID" class="formField" disabled="true">
								<option value="0">All</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Host:</td>
						<td>
							<select name="hostID" id="hostID" class="formField" disabled="true">
								<option value="0">All</option>
							</select>
						</td>
					</tr>
					<tr valign="top">
						<td>Severities:</td>
						<td id="severitiesContainer"></td>
					</tr>
				</table>
				<br />
				<br />
				<p align="center">
					<input type="button" name="btnSave" value="Apply Changes" onclick="doSaveSettings(this.form);displayLoading()" />
				</p>
			</form>
		</div>
	</body>
</html>
		
