<!DOCTYPE html> 
<html>
	<head>
		<title>BugLogMini: Connect</title>
	</head>
	<body>
		<div id="contentArea">
			<form name="frm" method="post" action="javascript:void();" class="dataForm">
				<table align="center">
					<tr>
						<td colspan="2" style="font-weight:bold;font-size:14px;padding-top:30px;padding-bottom:30px;">
							Connect to BugLog:
						</td>
					</tr>
					<tr>
						<td>User:</td>
						<td><input type="text" name="username" id="username" value="" class="formField" /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="password" id="password" value="" class="formField" /></td>
					</tr>
					<tr><td colspan="2" align="right">&nbsp;</td></tr>
					<tr>
						<td colspan="2">
							<div style="float:right;">
								<input type="button" value="Connect" name="btnConnect" id="btnConnect" />
							</div>
							<input type="checkbox" name="rememberMe" id="rememberMe" value="1"> Remember me
						</td>
					</tr>
				</table>
			</form>
			<div class="copyright">
				<span style="color:red;font-weight:bold;">BugLog</span><strong>Mini</strong> 0.5<br>
				<a href="http://www.bugloghq.com/">www.bugLogHQ.com</a>
				&nbsp; | &nbsp;
				<a href="../hq">Desktop</a>
			</div>
		</div>
	</body>
</html>
