body {
	margin:0px;
	padding:0px;
	background-color:#FFF;
	font-family: "trebuchet MS", Arial, Helvetica, "Sans Serif";
	color:#333;
	font-size:12px;
}

a,
a:link,
a:hover,
a:active,
a:visited {
    color:#43505a;
	text-decoration:underline;
}
a:hover {
    text-decoration:none;
}
span.badge a:link,
span.badge a:visited {
    text-decoration:none;
	color:#fff;
}

h2 {
    font-size:16px;
    border-bottom:1px solid black;
}

label.inline {
	display:inline;
}

.formField {
    border:1px solid silver;
    font-size:11px;
    padding:1px;
    width:300px;
}
.formFieldTip {
    font-size:10px;
	line-height:15px;
    color:#808080;
	margin-bottom:10px;
}

#header {
}
#header-left {
	margin-left:10px;
	float:left;
}
#header-left a,
#header-left a:link {
	text-decoration:none;
}
#header-left h1 {
	color:red;
	font-size:20px;
	font-weight:bold;
	display:inline;
}
#header-left h1 span {
	color:black;
}
#header-right {
	font-size:10px;
	font-weight:bold;
	border-bottom:1px dotted #333;
	padding-bottom:8px;
	margin-right:10px;
	text-align:right;
	float:right;
	color:#333;
	margin-top:5px;
}
#mainBody {
    vertical-align:top;
    width:100%;
    margin-top:10px;
}
#content {
	width:90%;
	max-width:1170px;
	margin:0 auto;
	margin-bottom:20px;	
}
#footer {
	width:200px;
	font-size:9px;
	margin:0 auto;
	text-align:center;
	line-height:15px;
}
.pageTitle {
	margin-bottom:3px;
	padding-bottom:10px;
	line-height:24px;
}

/***** data tables ******/
.browseTable {
	border-bottom:1px solid #333;
	width:95%;
	#width:750px;
}

.browseTable th {
    background-color:#90A4B5;
	line-height: 18px;
	color: #FFFFFF;
	padding: 3px 9px 3px 9px;
	font-size:13px;
	font-weight:bold;
}
.browseTable td {
	line-height: 16px;
	color: #333;
	padding: 3px 3px 3px 9px;
	font-size:11px;
}

.altRow {
    background-color:#F6F6F6;
}

.listTI {
    background-color:#6b8091;
}
.browseTable tr:hover {
    background-color:#ebebeb;
}
.browseTable th a {
    color:white;
    text-decoration:none;
}
.browseTable th a:hover {
    text-decoration:underline;
}

.criteriaTable {
    background-color:#ebebeb;
    font-size:12px;
    border-bottom:1px solid silver;
}
.criteriaTable td {
    padding:4px;
}
.criteriaTable select,
.criteriaTable input,
.criteriaTable textarea {
     font-size:12px;
     border:1px solid silver;
}
.cell_message {
	cursor:pointer;
	text-overflow:ellipsis;
}
#exceptiondetail pre {
	border:none;
	background-color:#fff;
}

#entry-content {
	width:100%;
	clear:both;
}
#entry-details {
}
#entry-stats {
	width:300px;
}

/***** Extensions & Rules *******/
#extensions-content {
	width:100%;
}
#extensions-main {
	margin-right:260px;
}
#extensions-side {
	float:right;
	width:250px;
}
.extensionItem {
	background-color:#ebebeb;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	border-top:1px solid silver;
	border-left:1px solid silver;
	font-size:14px;
	margin-bottom:15px;
	padding:5px;
}
.extensionItem:hover {
	background-color:#f5f5f5;
}
.extensionItem table {
	margin-top:10px;
	border-collapse:collapse;
}
.extensionItem td {
	padding:5px;
	font-size:11px;
	border:1px solid silver;
}
.migrationNotice {
	margin:20px;
	padding:10px;
	font-size:14px;
	border:1px dashed silver;
	background-color:#FFFFE0;
}


/****** Table Views *****/
.cell_severity {text-align:center;}
.cell_entry {width:30px;}
.cell_application {}
.cell_hostname {}
.cell_message {width:700px;overflow:hidden;}
.cell_count {text-align:right;}
.cell_mostrecent {text-align:center;}
.cell_datetime {text-align:center;}
.cell_details {text-align:center;}


.summaryTable {
	width:100%;
}
.summaryTable .header_severity {width:20px;}
.summaryTable .header_application {width:120px;}
.summaryTable .header_hostname {width:120px;}
.summaryTable .header_message {width:700px;}
.summaryTable .header_count {width:60px;}
.summaryTable .header_mostrecent {width:110px;}
.summaryTable .header_details {width:22px;}

.detailTable {
	width:100%;
}
.detailTable .header_severity {width:20px;}
.detailTable .header_entry {width:30px;}
.detailTable .header_datetime {width:110px;}
.detailTable .header_application {width:120px;}
.detailTable .header_hostname {width:120px;}
.detailTable .header_message {width:700px;}
.detailTable .header_details {width:22px;}


/****** User Defined Rules **********/
/*
You can define custom CSS rules to apply to rows with specific applicatio/host/severity 
values on the summary and detail views.

Each row is applied CSS classes with the following conventions:
.row_app_[app name]
.row_host_[host name]
.row_sev_[severity]

In each case, the value (app, host, severity) is turned to lowercase 
and all blank spaces are removed. For example: ".row_sev_fatal"

Additionally, each cell on the table is assigned its own class:
.cell_severity, .cell_application, .cell_hostname, .cell_message, etc.

See /bugLog/hq/views/vwMain.cfm and /bugLog/hq/views/vwLog.cfm for more details

*/
