
-- BEGINNING TRANSACTION STRUCTURE
PRINT 'Beginning transaction STRUCTURE'
BEGIN TRANSACTION _STRUCTURE_
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Function newUUID
Print 'Create Function newUUID'
GO
CREATE FUNCTION [dbo].[newUUID](@GUID varchar(36))
RETURNS varchar(35)
AS
BEGIN
 RETURN left(@GUID, 23) + right(@GUID,12)
END
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Table bl_Application
Print 'Create Table bl_Application'
GO
CREATE TABLE [dbo].[bl_Application] (
		[ApplicationID]     char(35) NOT NULL,
		[Code]              varchar(10) NOT NULL,
		[Name]              varchar(250) NOT NULL
)
ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Primary Key PK_bl_Application to bl_Application
Print 'Add Primary Key PK_bl_Application to bl_Application'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Application]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.indexes WHERE [name]=N'PK_bl_Application' AND [object_id]=OBJECT_ID(N'[dbo].[bl_Application]')))
ALTER TABLE [dbo].[bl_Application]
	ADD
	CONSTRAINT [PK_bl_Application]
	PRIMARY KEY
	([ApplicationID])
	ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Unique IX_bl_Application to bl_Application
Print 'Add Unique IX_bl_Application to bl_Application'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Application]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.indexes WHERE [name]=N'IX_bl_Application' AND [object_id]=OBJECT_ID(N'[dbo].[bl_Application]')))
ALTER TABLE [dbo].[bl_Application]
	ADD
	CONSTRAINT [IX_bl_Application]
	UNIQUE
	([Code])
	ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Table bl_Entry
Print 'Create Table bl_Entry'
GO
CREATE TABLE [dbo].[bl_Entry] (
		[EntryID]              char(35) NOT NULL,
		[DateTime]             datetime NOT NULL,
		[Message]              varchar(250) NOT NULL,
		[ApplicationID]        char(35) NOT NULL,
		[SourceID]             char(35) NOT NULL,
		[SeverityID]           char(35) NOT NULL,
		[HostID]               char(35) NOT NULL,
		[ExceptionMessage]     varchar(500) NULL,
		[ExceptionDetails]     varchar(5000) NULL,
		[CFID]                 varchar(250) NULL,
		[CFTOKEN]              varchar(250) NULL,
		[UserAgent]            varchar(500) NULL,
		[TemplatePath]         varchar(500) NULL,
		[HTMLReport]           text NULL,
		[createdOn]            datetime NOT NULL
)
ON [PRIMARY]
TEXTIMAGE_ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Primary Key PK_bl_Entry to bl_Entry
Print 'Add Primary Key PK_bl_Entry to bl_Entry'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Entry]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.indexes WHERE [name]=N'PK_bl_Entry' AND [object_id]=OBJECT_ID(N'[dbo].[bl_Entry]')))
ALTER TABLE [dbo].[bl_Entry]
	ADD
	CONSTRAINT [PK_bl_Entry]
	PRIMARY KEY
	([EntryID])
	ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Unique IX_bl_Entry to bl_Entry
Print 'Add Unique IX_bl_Entry to bl_Entry'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Entry]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.indexes WHERE [name]=N'IX_bl_Entry' AND [object_id]=OBJECT_ID(N'[dbo].[bl_Entry]')))
ALTER TABLE [dbo].[bl_Entry]
	ADD
	CONSTRAINT [IX_bl_Entry]
	UNIQUE
	([EntryID])
	ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Default Constraint DF_bl_Entry_createdOn to bl_Entry
Print 'Add Default Constraint DF_bl_Entry_createdOn to bl_Entry'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Entry]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[DF_bl_Entry_createdOn]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Entry]')))
ALTER TABLE [dbo].[bl_Entry]
	ADD
	CONSTRAINT [DF_bl_Entry_createdOn]
	DEFAULT (getdate()) FOR [createdOn]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Default Constraint DF_bl_Entry_EntryID to bl_Entry
Print 'Add Default Constraint DF_bl_Entry_EntryID to bl_Entry'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Entry]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[DF_bl_Entry_EntryID]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Entry]')))
ALTER TABLE [dbo].[bl_Entry]
	ADD
	CONSTRAINT [DF_bl_Entry_EntryID]
	DEFAULT ([dbo].[newUUID](newid())) FOR [EntryID]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Table bl_Host
Print 'Create Table bl_Host'
GO
CREATE TABLE [dbo].[bl_Host] (
		[HostID]       char(35) NOT NULL,
		[HostName]     varchar(250) NOT NULL
)
ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Primary Key PK_bl_Host to bl_Host
Print 'Add Primary Key PK_bl_Host to bl_Host'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Host]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.indexes WHERE [name]=N'PK_bl_Host' AND [object_id]=OBJECT_ID(N'[dbo].[bl_Host]')))
ALTER TABLE [dbo].[bl_Host]
	ADD
	CONSTRAINT [PK_bl_Host]
	PRIMARY KEY
	([HostID])
	ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Default Constraint DF_bl_Host_HostID to bl_Host
Print 'Add Default Constraint DF_bl_Host_HostID to bl_Host'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Host]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[DF_bl_Host_HostID]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Host]')))
ALTER TABLE [dbo].[bl_Host]
	ADD
	CONSTRAINT [DF_bl_Host_HostID]
	DEFAULT ([dbo].[newUUID](newid())) FOR [HostID]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Table bl_Severity
Print 'Create Table bl_Severity'
GO
CREATE TABLE [dbo].[bl_Severity] (
		[SeverityID]     char(35) NOT NULL,
		[Name]           varchar(250) NOT NULL,
		[Code]           varchar(50) NOT NULL
)
ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Primary Key PK_bl_Severity to bl_Severity
Print 'Add Primary Key PK_bl_Severity to bl_Severity'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Severity]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.indexes WHERE [name]=N'PK_bl_Severity' AND [object_id]=OBJECT_ID(N'[dbo].[bl_Severity]')))
ALTER TABLE [dbo].[bl_Severity]
	ADD
	CONSTRAINT [PK_bl_Severity]
	PRIMARY KEY
	([SeverityID])
	ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Default Constraint DF_bl_Severity_SeverityID to bl_Severity
Print 'Add Default Constraint DF_bl_Severity_SeverityID to bl_Severity'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Severity]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[DF_bl_Severity_SeverityID]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Severity]')))
ALTER TABLE [dbo].[bl_Severity]
	ADD
	CONSTRAINT [DF_bl_Severity_SeverityID]
	DEFAULT ([dbo].[newUUID](newid())) FOR [SeverityID]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Table bl_Source
Print 'Create Table bl_Source'
GO
CREATE TABLE [dbo].[bl_Source] (
		[SourceID]     char(35) NOT NULL,
		[Name]         varchar(250) NOT NULL
)
ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Primary Key PK_bl_Source to bl_Source
Print 'Add Primary Key PK_bl_Source to bl_Source'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Source]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.indexes WHERE [name]=N'PK_bl_Source' AND [object_id]=OBJECT_ID(N'[dbo].[bl_Source]')))
ALTER TABLE [dbo].[bl_Source]
	ADD
	CONSTRAINT [PK_bl_Source]
	PRIMARY KEY
	([SourceID])
	ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Default Constraint DF_bl_Source_SourceID to bl_Source
Print 'Add Default Constraint DF_bl_Source_SourceID to bl_Source'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_Source]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[DF_bl_Source_SourceID]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Source]')))
ALTER TABLE [dbo].[bl_Source]
	ADD
	CONSTRAINT [DF_bl_Source_SourceID]
	DEFAULT ([dbo].[newUUID](newid())) FOR [SourceID]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Table bl_User
Print 'Create Table bl_User'
GO
CREATE TABLE [dbo].[bl_User] (
		[UserID]       char(35) NOT NULL,
		[Username]     varchar(250) NOT NULL,
		[Password]     varchar(50) NOT NULL
)
ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Primary Key PK_bl_User to bl_User
Print 'Add Primary Key PK_bl_User to bl_User'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_User]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.indexes WHERE [name]=N'PK_bl_User' AND [object_id]=OBJECT_ID(N'[dbo].[bl_User]')))
ALTER TABLE [dbo].[bl_User]
	ADD
	CONSTRAINT [PK_bl_User]
	PRIMARY KEY
	([UserID])
	ON [PRIMARY]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Add Default Constraint DF_bl_User_UserID to bl_User
Print 'Add Default Constraint DF_bl_User_UserID to bl_User'
GO
IF (EXISTS(SELECT * FROM sys.objects WHERE [object_id] = OBJECT_ID(N'[dbo].[bl_User]') AND [type]='U')) AND NOT (EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[DF_bl_User_UserID]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_User]')))
ALTER TABLE [dbo].[bl_User]
	ADD
	CONSTRAINT [DF_bl_User_UserID]
	DEFAULT ([dbo].[newUUID](newid())) FOR [UserID]
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

-- Create Foreign Key FK_bl_Entry_bl_Application on bl_Entry
Print 'Create Foreign Key FK_bl_Entry_bl_Application on bl_Entry'
GO
IF OBJECT_ID(N'[dbo].[bl_Entry]') IS NOT NULL
	AND OBJECT_ID(N'[dbo].[bl_Application]') IS NOT NULL
	AND NOT EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[FK_bl_Entry_bl_Application]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Entry]'))
BEGIN
		ALTER TABLE [dbo].[bl_Entry]
			WITH NOCHECK
			ADD CONSTRAINT [FK_bl_Entry_bl_Application]
			FOREIGN KEY ([ApplicationID]) REFERENCES [dbo].[bl_Application] ([ApplicationID])
		ALTER TABLE [dbo].[bl_Entry]
			CHECK CONSTRAINT [FK_bl_Entry_bl_Application]

END
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Foreign Key FK_bl_Entry_bl_Host on bl_Entry
Print 'Create Foreign Key FK_bl_Entry_bl_Host on bl_Entry'
GO
IF OBJECT_ID(N'[dbo].[bl_Entry]') IS NOT NULL
	AND OBJECT_ID(N'[dbo].[bl_Host]') IS NOT NULL
	AND NOT EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[FK_bl_Entry_bl_Host]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Entry]'))
BEGIN
		ALTER TABLE [dbo].[bl_Entry]
			ADD CONSTRAINT [FK_bl_Entry_bl_Host]
			FOREIGN KEY ([HostID]) REFERENCES [dbo].[bl_Host] ([HostID])
END
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Foreign Key FK_bl_Entry_bl_Severity on bl_Entry
Print 'Create Foreign Key FK_bl_Entry_bl_Severity on bl_Entry'
GO
IF OBJECT_ID(N'[dbo].[bl_Entry]') IS NOT NULL
	AND OBJECT_ID(N'[dbo].[bl_Severity]') IS NOT NULL
	AND NOT EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[FK_bl_Entry_bl_Severity]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Entry]'))
BEGIN
		ALTER TABLE [dbo].[bl_Entry]
			ADD CONSTRAINT [FK_bl_Entry_bl_Severity]
			FOREIGN KEY ([EntryID]) REFERENCES [dbo].[bl_Severity] ([SeverityID])
END
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO
-- Create Foreign Key FK_bl_Entry_bl_Source on bl_Entry
Print 'Create Foreign Key FK_bl_Entry_bl_Source on bl_Entry'
GO
IF OBJECT_ID(N'[dbo].[bl_Entry]') IS NOT NULL
	AND OBJECT_ID(N'[dbo].[bl_Source]') IS NOT NULL
	AND NOT EXISTS (SELECT * FROM sys.objects WHERE [object_id]=OBJECT_ID(N'[dbo].[FK_bl_Entry_bl_Source]') AND [parent_object_id]=OBJECT_ID(N'[dbo].[bl_Entry]'))
BEGIN
		ALTER TABLE [dbo].[bl_Entry]
			ADD CONSTRAINT [FK_bl_Entry_bl_Source]
			FOREIGN KEY ([EntryID]) REFERENCES [dbo].[bl_Source] ([SourceID])
END
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

-- COMMITTING TRANSACTION STRUCTURE
PRINT 'Committing transaction STRUCTURE'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _STRUCTURE_
GO

SET NOEXEC OFF
GO
-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO

SET NOCOUNT ON
GO

-- Deleting from table: bl_User
PRINT 'Deleting from table: bl_User'
DELETE FROM [dbo].[bl_User]
-- Deleting from table: bl_Source
PRINT 'Deleting from table: bl_Source'
DELETE FROM [dbo].[bl_Source]
-- Deleting from table: bl_Severity
PRINT 'Deleting from table: bl_Severity'
DELETE FROM [dbo].[bl_Severity]
-- Deleting from table: bl_Host
PRINT 'Deleting from table: bl_Host'
DELETE FROM [dbo].[bl_Host]
-- Deleting from table: bl_Entry
PRINT 'Deleting from table: bl_Entry'
DELETE FROM [dbo].[bl_Entry]
-- Deleting from table: bl_Application
PRINT 'Deleting from table: bl_Application'
DELETE FROM [dbo].[bl_Application]

-- No rows are in bl_Application
PRINT 'No rows are in bl_Application'
-- No rows are in bl_Entry
PRINT 'No rows are in bl_Entry'
-- No rows are in bl_Host
PRINT 'No rows are in bl_Host'
-- No rows are in bl_Severity
PRINT 'No rows are in bl_Severity'
-- Insert scripts for table: bl_Source
PRINT 'Inserting rows into table: bl_Source'
INSERT INTO [dbo].[bl_Source] ([SourceID], [Name]) VALUES ('048D8A58-A55F-474A-84F30A72CE1B8362', 'Post')
INSERT INTO [dbo].[bl_Source] ([SourceID], [Name]) VALUES ('0D8B671C-73DE-4F4C-8F70D2FB2B7277C9', 'WebService')

-- Insert scripts for table: bl_User
PRINT 'Inserting rows into table: bl_User'
INSERT INTO [dbo].[bl_User] ([UserID], [Username], [Password]) VALUES ('4120331D-4473-40F4-B5BB13EA73398FFF', 'admin', 'admin')


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

