body {
	font-family:"Trebuchet MS";
	font-size:10px;
	margin:0px;
}
#mainContainer {
	width:100%;
}

#topControls {
	background: url(images/baseBG_r1_c1.gif) no-repeat top left;	
	height:30px;
}
#topHeader {
	background: url(images/baseBG_r1_c2.gif) no-repeat top right;	
	height:30px;
	margin-left:6px;
	padding:5px;
	padding-left:10px;
	padding-top:8px;
}
#mainBody {
	padding-top:0px;
	padding-left:5px;
	background: url(images/baseBG_r2_c1.gif) no-repeat bottom left;
}
#mainBodyInner {
	background: url(images/baseBG_r2_c2.gif) no-repeat bottom right;
}
#bottomControls {
	height:20px;
	margin:6px;		
}
#bottomControls a:link,
#bottomControls a:active,
#bottomControls a:visited   {
	text-decoration:none;
	color:#333;
	cursor:hand;
}
#bottomControls a:hover {
	text-decoration:underline;
	color:#333;
}

.windowControls {
	float:right;
	margin-right:5px;
	
}
.windowControls img {
	cursor:hand;
}
#win_resize {
	height:15px;
	width:15px;
	float:right;
}
#bottomLinksRight {
	float:right;
	margin-right:-7px;
	width:80px;
}

#UI {
	background-color:#fff;
	width:99%;
	height:400px;
	border:1px solid #666;
	padding:0px;
	padding-bottom:-100px;
}

.dataForm {
	margin:3px;
}
.dataForm td {
	font-size:12px;
	font-family:"Trebuchet MS";
}
.formField {
	font-size:12px;
	font-family:"Trebuchet MS";
	border:1px solid #ccc;
	width:200px;
	padding:2px;
}

.entryCapsule {
	padding:4px;
	border-bottom:1px solid silver;
	background-color:#fff;
	cursor:hand;
}
.entryCapsule:hover {
	background-color:#ebebeb;
}
.entryCapsuleMessage {
	font-weight:bold;
	font-size:12px;
}
.entryCapsuleBugCount {
	text-align:center;
	width:30px;
	font-size:14px;
	font-weight:bold;
	float:right;
}
.entryCapsuleDate {
	font-size:10px;
	color:#999;	
}
.entryError {
	padding:5px;
	color:#cc0000;
}
.entryDetailTable {
	font-family:"Trebuchet MS";
	width:100%;
}
.entryDetailTable td {
	font-size:10px;
	border-bottom:1px solid silver;
}
.entryDetailTable th {
	font-size:9px;
	text-align:right;
	color:#999;
	border-bottom:1px solid silver;
}
.entryDetailTitle {
	font-weight:bold;
	font-size:16px !important;	
	border:0px;
	padding-bottom:10px;
	padding-top:5px;
}
.entryListingHeader {
	margin:4px;
	border-bottom:1px solid silver;
	background-color:#fff;
	padding-bottom:10px;
	padding-top:5px;
}

.copyright {
	margin:0 auto;
	text-align:center;
	font-size:10px;
	margin-top:100px;
	width:150px;
	line-height:15px;
}
.goBack {
	line-height:16px;
	font-size:14px;
	font-weight:bold;
	padding:3px;
	background-color:#FFFFE0;
	font-family: Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.goBack a,
.goBack a:link,
.goBack a:visited,
.goBack a:active {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#666;
}